.about {
    background: var(--background-color);

    @media screen and (min-width: 1200px) {
        margin-bottom: -1px;
    }
}

// .about__container{
//     max-width: 320px;
//     margin: 0 auto;
//     @media screen and (min-width: 480px) {
//             width: 480px;
//         }
//     @media screen and (min-width: 768px) {
//         width: 768px;
//     }

//     @media screen and (min-width: 1200px) {
//           width: 1200px;

//         }
// }

.frame {
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.about__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;

    color: var(--white-text-color);
    margin-bottom: 12px;
    padding-top: 60px;

    @media screen and (min-width: 768px) {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 1.22;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: var(--white-text-color);
    }

    @media screen and (min-width: 1200px) {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 1.23;
        /* identical to box heightss */

        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: var(--white-text-color);
    }
}

.about__tittle {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--white-text-color);
    margin-bottom: 32px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        width: 200px;
        margin: auto;
    }

    @media screen and (min-width: 768px) {
        font-family: "Seymour One";
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 1.26;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: var(--white-text-color);
    }

    @media screen and (min-width: 1200px) {
        font-family: "Seymour One";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: var(--white-text-color);
        margin-bottom: 72px;
    }
}

.about__link {
    @media screen and (min-width: 768px) {
        width: 336px;
        // display: flex;
        flex-direction: column;
        gap: 8px;
    }

    @media screen and (min-width: 1200px) {
        width: 463px;
        height: 257px;
        display: contents;
    }
}

.about__block {
    margin-top: 40px;
    @media screen and (min-width: 320px) {
        padding-bottom: 41px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 13px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin-left: 32px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 100px;
    }
}

.about__link__item--one {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.04em;

    color: var(--white-text-color);
    margin-bottom: 4px;

    @media screen and (min-width: 768px) {
        text-align: left;
        width: 334px;
    }

    @media screen and (min-width: 1200px) {
        width: 463px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        /* or 28px */

        letter-spacing: 0.04em;

        color: var(--white-text-color);
    }
}

.about__link__item--two {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.58;
    /* or 19px */

    text-align: center;

    color: var(--white-text-color);
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        text-align: left;
        margin-bottom: 0;
        width: 334px;
    }

    @media screen and (min-width: 1200px) {
        width: 463px;
        width: 463px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        /* or 28px */

        letter-spacing: 0.04em;

        color: var(--white-text-color);
    }
}

.about__link__item--three {
    display: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.91;
    /* or 23px */

    letter-spacing: 0.04em;

    color: var(--white-text-color);

    @media screen and (min-width: 768px) {
        display: block;
        width: 334px;
    }

    @media screen and (min-width: 1200px) {
        width: 463px;
        width: 463px;
        width: 463px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        /* or 28px */

        letter-spacing: 0.04em;

        color: var(--white-text-color);
    }
}

.about__button {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
        justify-content: start;
    }

    @media screen and (min-width: 1200px) {
        margin-top: auto;
    }
}

.about__img {
    width: 280px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        width: 334px;
        height: 356px;
    }

    @media screen and (min-width: 1200px) {
        width: 500px;
        height: 500px;
    }
}

.about__block--flex {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.about__btn {
    background: var(--accent-color);
    border-radius: 10px;
    border: 0ch;
    min-width: 164px;
    min-height: 42px;
    cursor: pointer;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 9px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--black-text-color);
    margin-bottom: 61px;

    &:hover {
        background-color: var(--button-color);
        color: var(--black-text-color);
        transition: color transform 250ms ease-in-out;
    }
    &:focus {
        background-color: var(--button-color);
        fill: var(--white-text-color);
        transition: fill 250ms ease-in-out;
    }
    &:focus {
        background-color: var(--button-color);
        color: var(--white-text-color);
        transition: color 250ms ease-in-out;
    }
    @media screen and (min-width: 768px) {
        margin-top: 48px;
    }
}

.about__block--img {
    @media screen and (min-width: 1200px) {
        margin-top: -15px;
    }
}
