.advantages {
  background: #84a178;
  padding-bottom: 36px;
  margin-top: -1px;
  // position: absolute;
  // z-index: -1;
  
  @media screen and (min-width: 768px) {
    padding-bottom: 90px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-bottom: 180px;
    }
}

.advantages__icon {
  background: var(--accent-color);
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 152px;
    height: 253px;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 223px;
    margin-top: 60px;
  }
}

.advantages__link--item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--white-text-color);
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--white-text-color);
  }

  @media screen and (min-width: 1198px) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--white-text-color);
    margin-top: 40px;
  }
}

.advantages__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  /* or 20px */

  text-align: center;

  color: var(--white-text-color);
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 80px;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 24px */

    text-align: center;

    color: var(--white-text-color);
  }

  @media screen and (min-width: 1198px) {
    gap: 32px;
  }
}
.advantages__link--item-span {
  @media screen and (min-width: 768px) {
    text-transform: lowercase;
  }
}