.advantages{
    background: #84A178;
    padding-bottom: 78px;
    padding-top: 41px;
    @media screen and(min-width: 768px) {
            padding-top: 51px;
            padding-bottom: 140px;
        }
    
    @media screen and(min-width: 1200px) {
            padding-bottom: 139px;
}
}
.advantages-list {
    
    
        @media screen and (min-width: 480px) {
            
        }
    
        @media screen and(min-width: 768px) {
            padding-left: 0;
            display: flex;
            margin: -30px;
        }
    
        @media screen and(min-width: 1200px) {
            margin: -15px;
        }

    // max-width: 480px;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    // margin-top: 41px;

    // @media screen and(min-width: 768px) {
    //     // flex-wrap: nowrap;
    //     // gap: 131px;
    //     padding-left: 0;
    //     display: flex;
    //     margin: 0px;
    //     width: calc((100% - 236px) / 3);
    // }
}

.advantages-item {
        margin: 19px;
    
    @media screen and(min-width: 768px) {
            width: calc((100% - 120px) / 3);
            margin: 30px;
        }
    
    @media screen and(min-width: 1200px) {
            width: calc((100% - 60px) / 3);
            margin: 15px;
        }
    // width: calc((100% - 236px) / 3);
    // flex-direction: column;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-bottom: 27px;

}

.advantages-link {
    margin-right: auto;
    margin-left: auto;

    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages-icon {
    background-color: var(--accent-color);
//     border-radius: 25px;
//     width: 50px;
//     height: 50px;
// 
}

.advantages-numbers {
    color: var(--white-text-color);
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 18px;
    margin-top: 18px;
    text-align: center;

    @media screen and(min-width: 768px) {
        
      text-transform: none;
      font-size: 48px;
      line-height: 1.15;
      margin-bottom: 13px;
    }

    @media screen and(min-width: 1200px) {
      font-size: 58px;
    }
  }

.advantages-description {
        margin-left: auto;
        text-align: center;
        margin-right: auto;

    font-weight: 700;
    color: var(--white-text-color);
    font-size: 12px;
    line-height: 1.66;
    width: 230px;
    @media screen and(min-width: 768px) {
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 13px;
      width: 152px;
    }

    @media screen and(min-width: 1200px) {
      font-size: 16px;
      line-height: 1.66;
      margin-bottom: 15px;
      width: 330px;
    }
  }