input::-webkit-input-placeholder {  color: #131313 }

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 700ms, opacity 700ms var(--two-time);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;        
}

.backdrop.is-hidden .footer-modal {
    transform: translate(0%, -100%) scale(0);        
}

.footer-modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 700ms;
    width: 280px;
    height: 674px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
        width: 568px;
        height: 668px;
    }
}
.footer-close-btn{
    padding: 0;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    display: block;
    margin: 8px 8px 4px auto;
    &:hover,
    &:focus{
        fill:#F8D24E;
    }
    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }
}

.footer-modal-svg{
    @media screen and (min-width: 768px) {
        height: 12px;
        width: 12px;
    }
    
}

.footer-modal-title{
    margin-bottom: 20px;
    margin-left: 30px;
    width: 221px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    color: #131313;
    @media screen and (min-width: 768px) {
        width: 322px;
        font-size: 20px;
        line-height: 1.4;
        margin-left: auto;
        margin-right: auto;
        margin-top: -12px;

  
    }
}
.footer-modal-text{
    margin: 20px 28px 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
    @media screen and (min-width: 768px) {
        font-size: 15px;
        line-height: 1.4;
        margin: 24px 60px 32px;
    }
}

.footer-input{
    margin-bottom: 12px;
    margin-left: 24px;
    padding-left: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    width: 224px;
    height: 32px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
        width: 368px;
        height: 42px;
        margin-left: 100px;
        margin-bottom: 16px;
        
    }
}
.footer-input-coment{
    padding-bottom: 39px;
    margin-left: 24px;
    padding-left: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    width: 224px;
    height: 64px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
        width: 368px;
        height: 84px;
        margin-left: 100px;
        padding-bottom: 53px;    
    }
}

.footer-modal-btn{
    margin: 24px 83px 28px;
    padding: 12px 34px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    color: #131313;
    background: #F8D24E;
    border-radius: 10px;
    border: none;
    @media screen and (min-width: 768px) {
        margin: 32px 224px 32px;  
    }
}

