.cursomer {
    background-image:
        url(../photo/advantages/ice-fone-des.jpg);
    
    left: 0px;
    top: 0px;
    justify-content: center;
    @media screen and(min-width: 320px) {
            height: 600px ;
        }
    
        @media screen and(min-width: 768px) {
            height: 700px;
        }
    
        @media screen and(min-width: 1200px) {
        height: 958px;
        }
}
// .gallery-no{
//     // height: 456px;
//     position: relative;
// }
.gallery-no {
    width: 100%;
    height: 150px;
    position: relative;
        @media screen and(min-width: 480px) {
                height: 201px;
        
            }
        @media screen and(min-width: 768px) {
            height: 300px;
        }
    
        @media screen and(min-width: 1200px) {
            height: 422px;
            
        }
}
.gallery {
    position: absolute;
    inset: -200px 0 0;
        @media screen and(min-width: 768px) {
            inset: -251px 0 0;
        }
    
        // @media screen and(min-width: 1200px) {
        // inset: -200px 0 0;
        // }
}
// -----------------gallery------------------ //
.gallery-link {
    padding: 93px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    // overflow: hidden;
}
.gallery-list{
    top: 69px;
}
.gallery-photo {
    height: 100%;
    border-radius: 24px;
    @media screen and(min-width: 320px) {
            width: 439px;
            
        }
        @media screen and(min-width: 768px) {
            width: 702px;
            margin-bottom: 28px;
        }
        @media screen and(min-width: 1200px) {
            width: 1013px;
            display: block;
        }
}
// -----------------reviews------------------ //

.reviews-block {
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and(min-width: 320px) {
        width: 480px;
    }
    @media screen and(min-width: 768px) {
        width: 768px;
    }
    @media screen and(min-width: 1200px) {
        width: 1200px;
    }
}

.reviews-team {
    border-radius: 50%;
    margin-bottom: 30px;
    margin: 0 auto;

    

    // @media screen and(min-width: 480px) {
        
    // }

    // @media screen and(min-width: 768px) {
    //     margin-left: auto;
    //     margin-right: auto;
    //     margin-bottom: 32px;
    //     margin-top: 60px;
        
    //     flex-direction: column;
    //     margin-bottom: 28px;
    // }

    // @media screen and(min-width: 1200px) {
        
    //     margin-bottom: 32px;
    //     margin-top: 60px;
    // }
}

.reviews-text {
    border-radius: 24px;
    background-color: var(--background-color);
    color: var(--white-text-color);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
    margin-top: 28px;

    @media screen and(min-width: 480px) {
        padding: 34px 39px;
        margin-bottom: 30px;
    }

    @media screen and(min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        width: 705px;
        padding: 29px 80px;
        margin-bottom: 32px;
    }

    @media screen and(min-width: 1200px) {
        margin-left: auto;
        margin-right: auto;
        width: 968px;
        padding: 39px 109px 47px;
        margin-bottom: 32px;
        margin-bottom: 32px;
    }
}

.reviews-city {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    text-align: center;

    @media screen and(max-width: 767px) {
        margin-bottom: 30px;
    }

    @media screen and(min-width: 768px) {
        margin-bottom: 32px;
    }

    @media screen and(min-width: 1200px) {
        margin-left: auto;
        margin-right: auto;
        // width: 968px;
        padding: 39px 109px 47px;
        margin-bottom: 30px;
    }
}




