.gallery {
    background-image: 
        url(../photo/advantages/ice-fone-des.jpg);
}

.gallery-link {
    padding: 93px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery-photo {
    height: 100%;
    width: 1013px;
    border-radius: 24px;
}