// mobile first 320px

.header__hero-background {
    background-image: url(../photo/hero/dot@m1x.png);
    background-color: var(--background-color);
    height: 502px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: 50% 450px;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        background-image: url(../photo/hero/dot@t1x.png);
        background-size: 768px;
        background-position: 50% 346px;

        height: 415px;
        width: 100%;
    }
    @media screen and (min-width: 1200px) {
        background-image: url(../photo/hero/dot@d1x.png);
        background-size: 1200px;
        background-position: 50% 278px;
        max-width: 100%;
        height: 664px;
        margin-left: auto;
        margin-right: auto;
    }
}
.hero__img {
    background-image: url(../photo/hero/icecream@m1x.png);
    background-repeat: no-repeat;
    background-position: 50% 238px;
    min-height: 502px;
    padding: 0;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 768px) {
        background-image: url(../photo/hero/icecream@t1x.png);
        background-position: 93% 17px;
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        background-image: url(../photo/hero/icecream@d1x.png);
        background-position: right -17px;
        max-width: 1200px;
        height: 100vh;
    }
}
.nav__bar {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.menu__btn {
    background-color: transparent;
    border: none;
}

.menu__btn-icon {
    fill: var(--white-text-color);
}
.hero__title {
    margin-top: 61px;
    max-width: 247px;
    font-family: "Seymour One";
    font-size: 26px;
    line-height: 1.03;
    text-transform: uppercase;
    text-align: left;
    color: var(--white-text-color);
}
.hero__title-first {
    font-size: 27px;
}

.hero__title-span {
    font-size: 37px;
    line-height: 1.13;
    text-align: left;
    color: var(--white-text-color);
}

.hero__links {
    display: flex;
    margin-top: 32px;
}

.hero__item:not(:last-child) {
    margin-right: 8px;
}

.hero__link {
    width: 62px;
    height: 24px;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    color: var(--black-text-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-color: var(--button-color);
    }

    &:active {
        box-shadow: 0px 4px 4px rgba(255, 255, 255, 0);
        border-color: var(--button-color);
        color: var(--white-text-color);
    }
}

.hero__link-made {
    width: 111px;
    height: 24px;
    font-weight: 600;
    font-size: 8px;
    line-height: 0.975;
    color: var(--accent-color);
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--button-color);
    }

    &:active {
        color: var(--white-text-color);
    }
}
.header__btn,
.nav__links,
.hero__description,
.hero__stats {
    display: none;
}

.nav__logo-img {
    width: 40px;
    height: 37px;
}

// tablet screen 768px

@media screen and (min-width: 768px) {
    .header__hero-background {
        margin-left: auto;
        margin-right: auto;
    }
    .hero__content {
        display: flex;
        justify-content: space-between;
    }
    .nav__bar {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .nav__menu {
        display: flex;
    }
    .hero {
        margin-top: 40px;
    }

    .stat__title {
        display: flex;
        flex-direction: column;
        font-size: 8px;
        color: var(--white-text-color);
        padding-bottom: 20px;
        text-align: right;
    }
    .hero__stats {
        display: flex;
        justify-content: flex-end;
    }
    .hero__stats-item {
        flex-direction: column;
    }
    .stats__num {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.21;
        text-align: right;
        letter-spacing: 0.04em;
        color: var(--black-text-color);
    }
    .hero__title {
        max-width: 182px;
        font-size: 18px;
        margin-top: 0px;
    }
    .hero__title-first {
        font-size: 18px;
    }
    .hero__title-span {
        font-size: 24px;
    }
    .hero__links {
        margin-top: 20px;
    }
    .header__btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 152px;
        height: 42px;
        background: var(--accent-color);
        border-radius: 10px;
        border: 0;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: var(--button-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }

        &:active {
            fill: var(--white-text-color);
            background-color: var(--button-color);
            color: var(--white-text-color);
            box-shadow: 0px 4px 4px rgba(255, 255, 255, 0);
        }
    }
    .header__btn-icon {
        color: var(--black-text-color);
        margin-left: 11px;
    }
    .nav__logo-img {
        width: 48px;
        height: 44px;
    }
    .menu__btn {
        padding-right: 32px;
    }
    .hero {
        background-repeat: no-repeat;
        background-position: left 140px;
        bottom: 1px;
    }
    .hero__description {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .hero__description-item {
        width: 151px;
        height: 85px;
        margin-left: 33px;
    }
    .hero__description-title {
        font-size: 14px;
        line-height: 140%;
        color: var(--white-text-color);
    }
    .hero__description-title {
        font-size: 14px;
        line-height: 140%;
        color: var(--white-text-color);
        font-size: 12px;
        line-height: 140%;
    }
    .hero__description-icon {
        fill: var(--white-text-color);
        &:hover,
        &:focus {
            background-size: 100% 4px;
            fill: var(--black-text-color);
            transform: scale(1.1);
            transition: scale 250ms ease-in-out, fill 250ms ease-in-out;
        }
    }
}
// desctop 1200px

@media screen and (min-width: 1200px) {
    .header__hero-background {
        margin-left: auto;
        margin-right: auto;
    }
    .nav__bar {
        padding: 0;
    }
    .container {
        padding: 17px;
    }
    .menu__btn {
        display: none;
    }
    .nav__link {
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        position: relative;
    }
    .nav__link::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--accent-color);
        border-radius: 2px;
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav__link:hover::after,
    .nav__link:focus::after {
        transform: scaleX(1);
    }

    .nav__links {
        display: contents;
    }
    .nav__links-list {
        display: flex;
        align-items: center;
        gap: 27px;
    }
    .nav__links-item {
        text-align: center;
    }
    .nav__link {
        display: flex;
        color: var(--white-text-color);

        &:hover,
        &:focus {
            color: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(255, 255, 255, 0);
            transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    .nav__logo-img {
        width: 60px;
        height: 65px;
    }
    .nav__menu {
        align-items: center;
    }

    .hero__title {
        font-weight: 400;
        display: inline;
        font-size: 38px;
        line-height: 1.26;
        width: 367px;
        height: 214px;
    }
    .hero__title-first {
        display: flex;
        font-size: 38px;
        line-height: 1.26;
    }
    .hero__title-span {
        font-size: 38px;
        line-height: 1.26;
    }
    .hero__description-title {
        width: 200px;
        height: 80px;
        text-align: left;
        font-size: 14px;
    }

    .hero__description {
        line-height: 140%;
    }

    .stats__num {
        font-size: 46px;
        line-height: 1.21;
    }
    .stat__title {
        font-size: 14px;
        line-height: 1.21;
    }
    .hero__links {
        align-items: center;
        margin-bottom: 40px;
    }
    .hero__link {
        width: 134px;
        height: 42px;
        font-size: 14px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    .hero__link-made {
        display: inline;
        width: 111px;
        height: 17px;
        font-size: 14px;
        margin-left: 34px;
    }
}
