.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 700ms, opacity 700ms var(--two-time);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;        
}

.backdrop.is-hidden .location-modal {
    transform: translate(0%, -100%) scale(0);
        
}

.location-modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 700ms;
    width: 280px;
    height: 365px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;   
    @media screen and (min-width: 768px) {
        width: 568px;
        height: 458px;
    }
}

.location-title{
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    color: #131313;
    @media screen and (min-width: 768px) {
        margin-top: -12px;
    }
}

.location-close-btn{
    padding: 0;
    border: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    display: block;
    margin: 8px 8px 4px auto;
    &:hover,
    &focus{
        fill: #F8D24E;
    }
    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }
}
.location-img{
    width: 224px;
    height: 199px;
    background-image: url(../photo/modal/location.jpg);
    background-size: cover;
    margin: 20px 28px 24px 28px;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
       background-image: url(../photo/modal/location-x.jpg);
       background-size: contain;
    }
    @media screen and (min-width: 768px) {
        margin: 32px 60px;
        background-image: url(../photo/modal/location-table-desk.jpg);
        width: 448px;
        height: 260px;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../photo/modal/location-table-desk-2x.jpg);
        background-size: contain;
    }
}

.location-btn{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    background: #F8D24E;
    border-radius: 10px;
    border: none;
    color: #131313;
    padding: 12px 34px;
    margin-left: 73px;
    @media screen and (min-width: 768px) {
       margin-left: 212px;
    }
}