.location-modal{
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 365px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}

.location-title{
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    color: #131313;
}

.location-close-btn{
    display: block;
    margin: 8px 8px 4px auto;
    &:hover,
    &focus{
        fill: #F8D24E;
    }
}
.location-img{
    margin: 20px 28px 24px 28px;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
       background-image: url(./photo/modal/location-2x.jpg);
    }
}

.location-btn{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    background: #F8D24E;
    border-radius: 10px;
    border: none;
    color: #131313;
    padding: 12px 34px;
    margin-left: 73px;
}