.container.container__products {
  position: relative;
  padding: 0px;
  margin: 0 auto;

  @media screen and(min-width:768px) {
    background-image: url(../photo/products/background/background-tablet-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 32px;
  }

  @media screen and(min-width:1200px) {
    background-image: url(../photo/products/background/background-desctop-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 12px;
  }
}

.products__about,
.products__title {
  position: absolute;
  margin: 0;
}

.products__about {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-text-color);
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and(min-width:768px) {
    left: 295px;
  }

  @media screen and(min-width:1200px) {
    left: 459px;
  }
}

.products__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--black-text-color);
  top: 96px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and(min-width:768px) {
    left: 231px;
  }

  @media screen and(min-width:1200px) {
    left: 434px;
  }
}

.products__list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and(min-width:768px) {
    flex-direction: row;
    gap: 16px;
  }
}

.products__card.ice-cream {
  padding: 280px 30px 0px 30px;
  max-width: 480px;
  background-image: url(../photo/products/background/background-image-1-mobile-min.png);
  background-size: cover;

  @media screen and(min-width:768px) {
    padding: 343px 0 64px;
    background-image: none;
  }

  @media screen and(min-width:1200px) {
    max-width: 370px;
    padding: 457px 0px 66px 0px;
  }
}

.products__card.ice-coffee {
  padding: 164px 30px 0px 30px;
  max-width: 480px;
  background-image: url(../photo/products/background/background-image-2-mobile-min.png);
  background-size: cover;

  @media screen and(min-width:768px) {
    padding: 343px 0 64px;
    background-image: none;
  }

  @media screen and(min-width:1200px) {
    max-width: 370px;
    padding: 457px 0px 66px 0px;
  }
}

.products__card.milkshakes {
  padding: 164px 30px 60px 30px;
  max-width: 480px;
  background-image: url(../photo/products/background/background-image-3-mobile-min.png);
  background-size: cover;

  @media screen and(min-width:768px) {
    padding: 343px 0 64px;
    background-image: none;
  }

  @media screen and(min-width:1200px) {
    max-width: 370px;
    padding: 457px 0px 66px 0px;
  }
}

.products__wrap.ice-cream {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #aec6a5;
  border-radius: 24px;
  height: 428px;

  &::before {
    content: url(../photo/products/ice-cream-mobile-min.png);
    position: absolute;
    top: -100px;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 11.34219px 20.0332px rgba(10, 136, 23, 0.25);

    @media screen and(min-width:1200px) {
      content: url(../photo/products/ice-cream-desctop-min.png);
      top: -150px;
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    }
  }

  @media screen and(min-width:768px) {
    width: 224px;
    height: 480px;
  }

  @media screen and(min-width:1200px) {
    width: 370px;
    height: 535px;
  }
}

.products__wrap.ice-coffee {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #efd478;
  border-radius: 24px;
  height: 428px;

  &::before {
    content: url(../photo/products/ice-coffee-mobile-min.png);
    position: absolute;
    top: -100px;
    width: auto;
    height: auto;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 11.40397px 20.2649px rgba(153, 114, 23, 0.25);

    @media screen and(min-width:1200px) {
      content: url(../photo/products/ice-coffee-desctop-min.png);
      top: -150px;
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    }
  }

  @media screen and(min-width:768px) {
    width: 224px;
    height: 480px;
  }

  @media screen and(min-width:1200px) {
    width: 370px;
    height: 535px;
  }
}

.products__wrap.milkshakes {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #d6936d;
  border-radius: 24px;
  height: 428px;

  &::before {
    content: url(../photo/products/milkshake-mobile-min.png);
    position: absolute;
    width: 100%;
    top: -100px;
    display: block;
    width: auto;
    height: auto;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 11.41333px 20.3px rgba(0, 0, 0, 0.25);

    @media screen and(min-width:1200px) {
      content: url(../photo/products/milkshake-desctop-min.png);
      top: -150px;
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    }
  }

  @media screen and(min-width:768px) {
    width: 224px;
    height: 480px;
  }

  @media screen and(min-width:1200px) {
    width: 370px;
    height: 535px;
  }
}

.products__about-wrap {
  text-align: center;
}

.products__type {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--black-text-color);

  margin-top: 123px;
  margin-bottom: 40px;

}

.products__description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--black-text-color);
  margin-bottom: 90px;
  padding: 0px 40px;
}

.products__modal {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;

  @media screen and(min-width:1200px) {
    margin-bottom: 60px;
  }
}

.products__arrow {
  fill: black;
}
