.container.container__products {
  position: relative;
  padding-top: 60px;
  margin: 0 auto;
  max-width: 100%;
  background-size: contain;
  background-image: url(../photo/products/background/background-image-1-mobile-min.png);

  @media screen and(min-width:480px) {
    background-image: url(../photo/products/background/background-image-tablet-min.png);
    background-size: contain;
  }

  @media screen and(min-width:768px) {
    background-image: url(../photo/products/background/background-image-tablet-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 32px 0px 32px;
    max-width: 100%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../photo/products/background/background-image-tablet-2x-min.png);
    }
  }

  @media screen and(min-width:1200px) {
    background-image: url(../photo/products/background/background-image-desctop-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 12px 0px 12px;
    max-width: 100%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../photo/products/background/background-image-desctop-2x-min.png);
    }
  }
}

.products__about,
.products__title {
  margin: 0 auto;
  text-align: center;
}

.products__about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-text-color);
  margin-bottom: 12px;

  @media screen and(min-width:1200px) {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
  }
}

.products__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--black-text-color);

  @media screen and(min-width:1200px) {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
  }
}

.products__list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and(min-width:768px) {
    flex-direction: row;
    gap: 16px;
  }
}

.products__card.ice-cream {
  padding: 148px 30px 0px 30px;
  max-width: 480px;

  background-size: cover;

  @media screen and(min-width:400px) {
    padding: 148px 50px 0px 50px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    }
  }

  @media screen and(min-width:768px) {
    padding: 200px 0 64px;
  }

  @media screen and(min-width:1200px) {
    max-width: 370px;
    padding: 303px 0px 66px 0px;
  }
}

.products__card.ice-coffee {
  padding: 164px 30px 0px 30px;
  max-width: 480px;

  background-size: cover;

  @media screen and(min-width:400px) {
    padding: 164px 50px 0px 50px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    }
  }

  @media screen and(min-width:768px) {
    padding: 200px 0 64px;
  }

  @media screen and(min-width:1200px) {
    max-width: 370px;
    padding: 303px 0px 66px 0px;
  }
}

.products__card.milkshakes {
  padding: 164px 30px 60px 30px;
  max-width: 480px;

  background-size: cover;

  @media screen and(min-width:400px) {
    padding: 164px 50px 60px 50px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    }
  }

  @media screen and(min-width:768px) {
    padding: 200px 0 64px;
  }

  @media screen and(min-width:1200px) {
    max-width: 370px;
    padding: 303px 0px 66px 0px;
  }
}

.products__wrap.ice-cream {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #aec6a5;
  border-radius: 24px;
  height: 428px;

  &::before {
    content: url(../photo/products/ice-cream-mobile-min.png);
    position: absolute;
    top: -100px;
    border-radius: 50%;

    @media screen and(min-width:1200px) {
      content: url(../photo/products/ice-cream-desctop-min.png);
      top: -186px;
    }
  }

  @media screen and(min-width:768px) {
    width: 224px;
    height: 480px;
  }

  @media screen and(min-width:1200px) {
    width: 370px;
    height: 535px;
  }
}

.products__wrap.ice-coffee {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #efd478;
  border-radius: 24px;
  height: 428px;

  &::before {
    content: url(../photo/products/ice-coffee-mobile-min.png);
    position: absolute;
    top: -100px;
    width: auto;
    height: auto;
    border-radius: 50%;

    @media screen and(min-width:1200px) {
      content: url(../photo/products/ice-coffee-desctop-min.png);
      top: -186px;
    }
  }

  @media screen and(min-width:768px) {
    width: 224px;
    height: 480px;
  }

  @media screen and(min-width:1200px) {
    width: 370px;
    height: 535px;
  }
}

.products__wrap.milkshakes {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #d6936d;
  border-radius: 24px;
  height: 428px;

  &::before {
    content: url(../photo/products/milkshake-mobile-min.png);
    position: absolute;
    width: 200px;
    height: 208px;
    top: -100px;
    display: block;
    width: auto;
    height: auto;
    border-radius: 50%;

    @media screen and(min-width:1200px) {
      content: url(../photo/products/milkshake-desctop-min.png);
      top: -186px;
    }
  }

  @media screen and(min-width:768px) {
    width: 224px;
    height: 480px;
  }

  @media screen and(min-width:1200px) {
    width: 370px;
    height: 535px;
  }
}

.products__about-wrap {
  text-align: center;
}

.products__type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--black-text-color);

  margin-top: 123px;
  margin-bottom: 40px;

  @media screen and(min-width:1200px) {
    margin-top: 166px;
  }
}

.products__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--black-text-color);
  padding: 0px 40px;

  @media screen and(min-width:768px) {
    padding: 0px 26px;
  }

  @media screen and(min-width:1200px) {
    padding: 0;
    width: 220px;
  }
}

.products__modal {
  margin-bottom: 20px;
  width: 50px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and(min-width:1200px) {
    margin-bottom: 50px;
  }
}

.products__arrow {
  fill: black;
}

.products__modal:hover,
.products__modal:focus {
  transform: scale(1.5);
  transition: scale 250ms ease-in-out, fill 250ms ease-in-out;

  &:hover .products__arrow {
    fill: #fff;
    transform: fill, scale(1.5);
    transition: fill 250ms ease-in-out, scale 250ms ease-in-out;
  }
}
