.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    padding: 0px 20px;
    width: 480px;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0px 33px;
    width: 768px;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    height: 100%;
  }
}

.visually-hidden {
  visibility: hidden;
  height: 0;
}

.header__hero-background {
  background-image: url(../photo/hero/dot@m1x.png);
  background-color: var(--background-color);
  height: 502px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position: 50% 450px;
  background-size: contain;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__hero-background {
    background-image: url(../photo/hero/dot@t1x.png);
    background-position: 50% 346px;
    max-width: 768px;
    height: 415px;
  }
}
@media screen and (min-width: 1200px) {
  .header__hero-background {
    background-image: url(../photo/hero/dot@d1x.png);
    background-position: 50% 278px;
    max-width: 1200px;
    height: 664px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__img {
  background-image: url(../photo/hero/icecream@m1x.png);
  background-repeat: no-repeat;
  background-position: 50% 238px;
  min-height: 502px;
  padding: 0;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .hero__img {
    background-image: url(../photo/hero/icecream@t1x.png);
    background-position: 93% 17px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img {
    background-image: url(../photo/hero/icecream@d1x.png);
    background-position: right 0;
    max-width: 1200px;
    height: 100vh;
  }
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.menu__btn {
  background-color: transparent;
  border: none;
}

.menu__btn-icon {
  fill: var(--white-text-color);
}

.hero__title {
  margin-top: 61px;
  max-width: 247px;
  font-family: "Seymour One";
  font-size: 26px;
  line-height: 1.03;
  text-transform: uppercase;
  text-align: left;
  color: var(--white-text-color);
}

.hero__title-first {
  font-size: 27px;
}

.hero__title-span {
  font-size: 37px;
  line-height: 1.13;
  text-align: left;
  color: var(--white-text-color);
}

.hero__links {
  display: flex;
  margin-top: 32px;
}

.hero__item:not(:last-child) {
  margin-right: 8px;
}

.hero__link {
  width: 62px;
  height: 24px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  color: var(--black-text-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.hero__link:hover, .hero__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--button-color);
}
.hero__link:active {
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--button-color);
  color: var(--white-text-color);
}

.hero__link-made {
  width: 111px;
  height: 24px;
  font-weight: 600;
  font-size: 8px;
  line-height: 0.975;
  color: var(--accent-color);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__link-made:hover, .hero__link-made:focus {
  color: var(--button-color);
}
.hero__link-made:active {
  color: var(--white-text-color);
}

.header__btn,
.nav__links,
.hero__description,
.hero__stats {
  display: none;
}

.header__btn {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn:hover, .header__btn:focus {
  background-color: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn:active {
  fill: var(--white-text-color);
  background-color: var(--button-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__logo-img {
  width: 40px;
  height: 37px;
}

@media screen and (min-width: 768px) {
  .header__hero-background {
    margin-left: auto;
    margin-right: auto;
  }
  .hero__content {
    display: flex;
    justify-content: space-between;
  }
  .nav__bar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .nav__menu {
    display: flex;
  }
  .hero {
    margin-top: 40px;
  }
  .stat__title {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    color: var(--white-text-color);
    padding-bottom: 20px;
    text-align: right;
  }
  .hero__stats {
    display: flex;
    justify-content: flex-end;
  }
  .hero__stats-item {
    flex-direction: column;
  }
  .stats__num {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    letter-spacing: 0.04em;
    color: var(--black-text-color);
  }
  .hero__title {
    max-width: 182px;
    font-size: 18px;
    margin-top: 0px;
  }
  .hero__title-first {
    font-size: 18px;
  }
  .hero__title-span {
    font-size: 24px;
  }
  .hero__links {
    margin-top: 20px;
  }
  .header__btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 42px;
    background: var(--accent-color);
    border-radius: 10px;
    border: 0;
  }
  .header__btn-icon {
    color: var(--black-text-color);
    margin-left: 11px;
  }
  .nav__logo-img {
    width: 48px;
    height: 44px;
  }
  .menu__btn {
    padding-right: 32px;
  }
  .hero {
    background-repeat: no-repeat;
    background-position: left 140px;
    bottom: 1px;
  }
  .hero__description {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .hero__description-item {
    width: 151px;
    height: 85px;
    margin-left: 33px;
  }
  .hero__description-title {
    font-size: 14px;
    line-height: 140%;
    color: var(--white-text-color);
  }
  .hero__description-title {
    font-size: 14px;
    line-height: 140%;
    color: var(--white-text-color);
    font-size: 12px;
    line-height: 140%;
  }
  .hero__description-icon {
    fill: var(--white-text-color);
  }
  .hero__description-icon:hover, .hero__description-icon:focus {
    background-size: 100% 4px;
    width: 50px;
    fill: var(--black-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .header__hero-background {
    margin-left: auto;
    margin-right: auto;
  }
  .nav__bar {
    padding: 0;
  }
  .container {
    padding: 17px;
  }
  .menu__btn {
    display: none;
  }
  .nav__link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 250ms;
  }
  .nav__link:hover, .nav__link:focus {
    background-size: 100% 1px;
  }
  .nav__links {
    display: contents;
  }
  .nav__links-list {
    display: flex;
    align-items: center;
    gap: 27px;
  }
  .nav__links-item {
    text-align: center;
  }
  .nav__link {
    display: flex;
    color: var(--white-text-color);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0);
    transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__logo-img {
    width: 60px;
    height: 65px;
  }
  .nav__menu {
    align-items: center;
  }
  .hero__title {
    font-weight: 400;
    display: inline;
    font-size: 38px;
    line-height: 1.26;
    width: 367px;
    height: 214px;
  }
  .hero__title-first {
    display: flex;
    font-size: 38px;
    line-height: 1.26;
  }
  .hero__title-span {
    font-size: 38px;
    line-height: 1.26;
  }
  .hero__description-title {
    width: 200px;
    height: 80px;
    text-align: left;
    font-size: 14px;
  }
  .hero__description {
    line-height: 140%;
  }
  .stats__num {
    font-size: 46px;
    line-height: 1.21;
  }
  .stat__title {
    font-size: 14px;
    line-height: 1.21;
  }
  .hero__links {
    align-items: center;
    margin-bottom: 40px;
  }
  .hero__link {
    width: 134px;
    height: 42px;
    font-size: 14px;
  }
  .hero__link-made {
    display: inline;
    width: 111px;
    height: 17px;
    font-size: 14px;
    margin-left: 34px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 700ms, opacity 700ms var(--two-time);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .mob-menu {
  transform: translate(0%, -100%) scale(0);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #84A178;
}

.logo-ice {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 37px;
  top: 12px;
}
@media screen and (min-width: 768px) {
  .logo-ice {
    width: 48px;
    height: 44px;
    top: 20px;
    left: 32px;
  }
}

.mob-menu-close-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  display: block;
  margin: 16px 20px 52px auto;
  border: none;
  background-color: transparent;
  fill: #FCFCFC;
}
.mob-menu-close-btn:hover, .mob-menu-close-btn:focus {
  fill: #F8D24E;
}
@media screen and (min-width: 768px) {
  .mob-menu-close-btn {
    margin: 32px 32px 76px auto;
  }
}

.mob-menu-list {
  text-align: center;
}

.mob-menu-list:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .mob-menu-list:not(:last-child) {
    margin-bottom: 40px;
  }
}

.mob-menu-link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .mob-menu-link {
    font-size: 48px;
    line-height: 1.2;
  }
}

.mob-menu-link.active {
  color: #131313;
}

.mob-menu-buy-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 53px;
  background-color: #F8D24E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #131313;
  padding: 12px 32px 12px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 112px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mob-menu-buy-btn {
    display: none;
  }
}

.mob-menu-btn-buy {
  width: 12px;
  height: 12px;
  display: inline-block;
}

.container.container__products {
  position: relative;
  padding: 0px;
  margin: 0 auto;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container.container__products {
    background-image: url(../photo/products/background/background-image-tablet-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .container.container__products {
    background-image: url(../photo/products/background/background-image-tablet-2x-min.png);
  }
}
@media screen and (min-width: 1200px) {
  .container.container__products {
    background-image: url(../photo/products/background/background-image-desctop-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 12px;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .container.container__products {
    background-image: url(../photo/products/background/background-image-desctop-2x-min.png);
  }
}

.products__about,
.products__title {
  position: absolute;
  margin: 0;
}

.products__about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-text-color);
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .products__about {
    transform: none;
    left: 295px;
  }
}
@media screen and (min-width: 1200px) {
  .products__about {
    transform: none;
    left: 480px;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
  }
}

.products__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--black-text-color);
  top: 96px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .products__title {
    transform: none;
    left: 231px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    transform: none;
    left: 435px;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
  }
}

.products__list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .products__list {
    flex-direction: row;
    gap: 16px;
  }
}

.products__card.ice-cream {
  padding: 280px 30px 0px 30px;
  max-width: 480px;
  background-image: url(../photo/products/background/background-image-1-mobile-min.png);
  background-size: cover;
}
@media screen and (min-width: 400px) {
  .products__card.ice-cream {
    padding: 280px 50px 0px 50px;
  }
}
@media screen and (min-width: 400px) and (min-device-pixel-ratio: 2), screen and (min-width: 400px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 400px) and (min-resolution: 192dpi), screen and (min-width: 400px) and (min-resolution: 2dppx) {
  .products__card.ice-cream {
    background-image: url(../photo/products/background/background-image-1-mobile-2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .products__card.ice-cream {
    padding: 343px 0 64px;
    background-image: none;
  }
}
@media screen and (min-width: 1200px) {
  .products__card.ice-cream {
    max-width: 370px;
    padding: 457px 0px 66px 0px;
  }
}

.products__card.ice-coffee {
  padding: 164px 30px 0px 30px;
  max-width: 480px;
  background-image: url(../photo/products/background/background-image-2-mobile-min.png);
  background-size: cover;
}
@media screen and (min-width: 400px) {
  .products__card.ice-coffee {
    padding: 164px 50px 0px 50px;
  }
}
@media screen and (min-width: 400px) and (min-device-pixel-ratio: 2), screen and (min-width: 400px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 400px) and (min-resolution: 192dpi), screen and (min-width: 400px) and (min-resolution: 2dppx) {
  .products__card.ice-coffee {
    background-image: url(../photo/products/background/background-image-2-mobile-2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .products__card.ice-coffee {
    padding: 343px 0 64px;
    background-image: none;
  }
}
@media screen and (min-width: 1200px) {
  .products__card.ice-coffee {
    max-width: 370px;
    padding: 457px 0px 66px 0px;
  }
}

.products__card.milkshakes {
  padding: 164px 30px 60px 30px;
  max-width: 480px;
  background-image: url(../photo/products/background/background-image-3-mobile-min.png);
  background-size: cover;
}
@media screen and (min-width: 400px) {
  .products__card.milkshakes {
    padding: 164px 50px 60px 50px;
  }
}
@media screen and (min-width: 400px) and (min-device-pixel-ratio: 2), screen and (min-width: 400px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 400px) and (min-resolution: 192dpi), screen and (min-width: 400px) and (min-resolution: 2dppx) {
  .products__card.milkshakes {
    background-image: url(../photo/products/background/background-image-3-mobile-2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .products__card.milkshakes {
    padding: 343px 0 64px;
    background-image: none;
  }
}
@media screen and (min-width: 1200px) {
  .products__card.milkshakes {
    max-width: 370px;
    padding: 457px 0px 66px 0px;
  }
}

.products__wrap.ice-cream {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #aec6a5;
  border-radius: 24px;
  height: 428px;
}
.products__wrap.ice-cream::before {
  content: url(../photo/products/ice-cream-mobile-min.png);
  position: absolute;
  top: -100px;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .products__wrap.ice-cream::before {
    content: url(../photo/products/ice-cream-desctop-min.png);
    top: -186px;
  }
}
@media screen and (min-width: 768px) {
  .products__wrap.ice-cream {
    width: 224px;
    height: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .products__wrap.ice-cream {
    width: 370px;
    height: 535px;
  }
}

.products__wrap.ice-coffee {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #efd478;
  border-radius: 24px;
  height: 428px;
}
.products__wrap.ice-coffee::before {
  content: url(../photo/products/ice-coffee-mobile-min.png);
  position: absolute;
  top: -100px;
  width: auto;
  height: auto;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .products__wrap.ice-coffee::before {
    content: url(../photo/products/ice-coffee-desctop-min.png);
    top: -186px;
  }
}
@media screen and (min-width: 768px) {
  .products__wrap.ice-coffee {
    width: 224px;
    height: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .products__wrap.ice-coffee {
    width: 370px;
    height: 535px;
  }
}

.products__wrap.milkshakes {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #d6936d;
  border-radius: 24px;
  height: 428px;
}
.products__wrap.milkshakes::before {
  content: url(../photo/products/milkshake-mobile-min.png);
  position: absolute;
  width: 200px;
  height: 208px;
  top: -100px;
  display: block;
  width: auto;
  height: auto;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .products__wrap.milkshakes::before {
    content: url(../photo/products/milkshake-desctop-min.png);
    top: -186px;
  }
}
@media screen and (min-width: 768px) {
  .products__wrap.milkshakes {
    width: 224px;
    height: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .products__wrap.milkshakes {
    width: 370px;
    height: 535px;
  }
}

.products__about-wrap {
  text-align: center;
}

.products__type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--black-text-color);
  margin-top: 123px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .products__type {
    margin-top: 166px;
  }
}

.products__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--black-text-color);
  padding: 0px 40px;
}
@media screen and (min-width: 768px) {
  .products__description {
    padding: 0px 26px;
  }
}
@media screen and (min-width: 1200px) {
  .products__description {
    padding: 0;
    width: 220px;
  }
}

.products__modal {
  margin-bottom: 20px;
  width: 50px;
  height: 20px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1200px) {
  .products__modal {
    margin-bottom: 60px;
  }
}

.products__arrow {
  fill: black;
}

.products__modal:hover,
.products__modal:focus {
  transform: scale(1.5);
  transition: scale 250ms cubic-bezier(0.075, 0.82, 0.165, 1), fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.products__modal:hover:hover .products__arrow,
.products__modal:focus:hover .products__arrow {
  fill: #fff;
  transform: fill, scale(1.5);
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1), scale 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about {
  background: var(--background-color);
}
@media screen and (min-width: 1200px) {
  .about {
    margin-bottom: -1px;
  }
}

.about__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 12px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 1.22;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
    /* identical to box heightss */
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
}

.about__tittle {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 32px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about__tittle {
    width: 200px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .about__tittle {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.26;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .about__tittle {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .about__link {
    width: 336px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 220px;
  }
}
@media screen and (min-width: 1200px) {
  .about__link {
    width: 463px;
    height: 257px;
    display: contents;
  }
}

.about__block {
  margin-top: 40px;
}
@media screen and (min-width: 320px) {
  .about__block {
    padding-bottom: 41px;
  }
}
@media screen and (min-width: 768px) {
  .about__block {
    margin-top: 13px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__block {
    margin-left: 100px;
  }
}

.about__link__item--one {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  /* or 21px */
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .about__link__item--one {
    text-align: left;
    width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__link__item--one {
    width: 463px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    /* or 28px */
    letter-spacing: 0.04em;
    color: var(--white-text-color);
  }
}

.about__link__item--two {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;
  /* or 19px */
  text-align: center;
  color: var(--white-text-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__link__item--two {
    text-align: left;
    margin-bottom: 0;
    width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__link__item--two {
    width: 463px;
    width: 463px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    /* or 28px */
    letter-spacing: 0.04em;
    color: var(--white-text-color);
  }
}

.about__link__item--three {
  display: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.91;
  /* or 23px */
  letter-spacing: 0.04em;
  color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .about__link__item--three {
    display: block;
    width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__link__item--three {
    width: 463px;
    width: 463px;
    width: 463px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    /* or 28px */
    letter-spacing: 0.04em;
    color: var(--white-text-color);
  }
}

.about__button {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about__button {
    justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .about__button {
    margin-top: auto;
  }
}

.about__img {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .about__img {
    width: 334px;
    height: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    width: 500px;
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .about__block--flex {
    display: flex;
  }
}

.about__btn {
  background: var(--accent-color);
  border-radius: 10px;
  border: 0ch;
  min-width: 164px;
  min-height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 9px;
  color: var(--black-text-color);
  margin-bottom: 61px;
}
.about__btn:hover {
  background-color: var(--button-color);
  color: var(--black-text-color);
}
.about__btn:focus {
  background-color: var(--button-color);
  color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .about__btn {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .about__block--img {
    margin-top: -15px;
  }
}

.about-icon:focus {
  fill: #fcfcfc;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 700ms, opacity 700ms var(--two-time);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(0%, -100%) scale(0);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 280px;
  height: 459px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  transition: transform 700ms;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    height: 449px;
  }
}

.close-btn {
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  display: block;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
}
.close-btn:hover, .close-btn:focus {
  fill: #F8D24E;
}
@media screen and (min-width: 768px) {
  .close-btn {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }
}

.modal-title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.4;
    margin-top: -12px;
    margin-bottom: 32px;
  }
}

.modal-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
  margin: 20px 28px 28px 28px;
}
@media screen and (min-width: 768px) {
  .modal-text {
    width: 448px;
    font-size: 16px;
    line-height: 1.4;
    margin-left: 60px;
    margin-right: 60px;
  }
}

.video {
  display: flex;
  justify-content: center;
}

.iframe-video {
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .iframe-video {
    width: 448px;
    height: 225px;
  }
}

.advantages {
  background: #84a178;
  padding-bottom: 60px;
  margin-top: -1px;
}

.advantages__icon {
  background: var(--accent-color);
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    width: 152px;
    height: 253px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    width: 368px;
    height: 223px;
    margin-top: 60px;
  }
}

.advantages__link--item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .advantages__link--item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
}
@media screen and (min-width: 1198px) {
  .advantages__link--item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-top: 40px;
  }
}

.advantages__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  /* or 20px */
  text-align: center;
  color: var(--white-text-color);
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .advantages__link {
    display: flex;
    gap: 80px;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 24px */
    text-align: center;
    color: var(--white-text-color);
  }
}
@media screen and (min-width: 1198px) {
  .advantages__link {
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__link--item-span {
    text-transform: lowercase;
  }
}

.cursomer {
  background-image: url(../photo/advantages/ice-fone-des.jpg);
  left: 0px;
  top: 0px;
  justify-content: center;
}

.gallery-link {
  padding: 93px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-photo {
  height: 100%;
  border-radius: 24px;
}
@media screen and (min-width: 320px) {
  .gallery-photo {
    width: 439px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-photo {
    width: 702px;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-photo {
    width: 1013px;
    display: block;
  }
}

.reviews-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .reviews-block {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .reviews-block {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-block {
    width: 1200px;
    display: block;
  }
}

.reviews-team {
  border-radius: 50%;
  margin-bottom: 30px;
  margin: 0 auto;
}

.reviews-text {
  border-radius: 24px;
  background-color: var(--background-color);
  color: var(--white-text-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-top: 28px;
}
@media screen and (min-width: 320px) {
  .reviews-text {
    padding: 34px 39px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .reviews-text {
    margin-left: auto;
    margin-right: auto;
    width: 705px;
    padding: 29px 80px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-text {
    margin-left: auto;
    margin-right: auto;
    width: 968px;
    padding: 39px 109px 47px;
    margin-bottom: 32px;
    margin-bottom: 32px;
  }
}

.reviews-city {
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .reviews-city {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .reviews-city {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-city {
    margin-left: auto;
    margin-right: auto;
    padding: 39px 109px 47px;
    margin-bottom: 30px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 700ms, opacity 700ms var(--two-time);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(0%, -100%) scale(0);
}

.location-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 365px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .location-modal {
    width: 568px;
    height: 458px;
  }
}

.location-title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .location-title {
    margin-top: -12px;
  }
}

.location-close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  display: block;
  margin: 8px 8px 4px auto;
}
.location-close-btn:hover, .location-close-btnfocus {
  fill: #F8D24E;
}
@media screen and (min-width: 768px) {
  .location-close-btn {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }
}

.location-img {
  width: 224px;
  height: 199px;
  background-image: url(../photo/modal/location.jpg);
  background-size: cover;
  margin: 20px 28px 24px 28px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .location-img {
    background-image: url(../photo/modal/location-x.jpg);
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .location-img {
    margin: 32px 60px;
    background-image: url(../photo/modal/location-table-desk.jpg);
    width: 448px;
    height: 260px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .location-img {
    background-image: url(../photo/modal/location-table-desk-2x.jpg);
    background-size: contain;
  }
}

.location-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  background: #F8D24E;
  border-radius: 10px;
  border: none;
  color: #131313;
  padding: 12px 34px;
  margin-left: 73px;
}
@media screen and (min-width: 768px) {
  .location-btn {
    margin-left: 212px;
  }
}

input::-webkit-input-placeholder {
  color: #131313;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 700ms, opacity 700ms var(--two-time);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .footer-modal {
  transform: translate(0%, -100%) scale(0);
}

.footer-modal {
  z-index: 50;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 674px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .footer-modal {
    width: 568px;
    height: 668px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-modal {
    width: 568px;
    height: 668px;
  }
}

.footer-close-btn {
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  display: block;
  margin: 8px 8px 4px auto;
}
.footer-close-btn:hover, .footer-close-btn:focus {
  fill: #F8D24E;
}
@media screen and (min-width: 768px) {
  .footer-close-btn {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-modal-svg {
    height: 12px;
    width: 12px;
  }
}

.footer-modal-title {
  margin-bottom: 20px;
  margin-left: 30px;
  width: 221px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .footer-modal-title {
    width: 322px;
    font-size: 20px;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
  }
}

.footer-modal-text {
  margin: 20px 28px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .footer-modal-text {
    font-size: 15px;
    line-height: 1.4;
    margin: 24px 60px 32px;
  }
}

.footer-input {
  margin-bottom: 12px;
  margin-left: 24px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  width: 224px;
  height: 32px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 368px;
    height: 42px;
    margin-left: 100px;
    margin-bottom: 16px;
  }
}

.footer-input-coment {
  padding-bottom: 39px;
  margin-left: 24px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  width: 224px;
  height: 64px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .footer-input-coment {
    width: 368px;
    height: 84px;
    margin-left: 100px;
    padding-bottom: 53px;
  }
}

.footer-modal-btn {
  margin: 24px 83px 28px;
  padding: 12px 34px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #131313;
  background: #F8D24E;
  border-radius: 10px;
  border: none;
}
@media screen and (min-width: 768px) {
  .footer-modal-btn {
    margin: 32px 224px 32px;
  }
}

.contacts {
  padding: 48px 0 39px;
  margin: 0 auto;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    padding: 13px 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding: 92px 0 120px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contacts {
    background-size: 1920px 384px, auto;
    background-position: center center, center top;
  }
}

.contacts__item-title {
  background: #f8d24e;
  color: var(--black-text-color);
  text-transform: uppercase;
  display: inline-flex;
  padding: 0 25px;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__item-title {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item-title {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item-title {
    margin-bottom: 32px;
  }
}

.contacts__list {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    max-width: 768px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    max-width: 1150px;
    margin-bottom: 64px;
  }
}

.contacts__item {
  max-width: 100%;
  margin-bottom: 20px;
  padding: 40px 32px;
  font-size: 12px;
  line-height: 1.86;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contacts__item--black {
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .contacts__item--black {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    letter-spacing: 0.04em;
    color: var(--black-text-color);
  }
}
.contacts__item--grey {
  color: #d6936d;
  line-height: 1.5;
}
.contacts__item--purple {
  color: var(--time-color);
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__item--grey {
  line-height: 1.5;
}
.contacts__item .contacts__link {
  line-height: 1.5;
  text-decoration: none;
  color: var(--black-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__item .contacts__link {
    line-height: 1.83;
  }
}
@media screen and (min-width: 480px) {
  .contacts__item {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    margin-right: 20px;
    margin-bottom: 0;
    padding: 40px 24px;
    width: 224px;
  }
  .contacts__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    width: 383.3333333333px;
    margin-right: 32px;
    padding: 40px;
    font-size: 16px;
  }
  .contacts__item:last-child {
    margin-right: 0;
  }
}

.contacts__item-header li:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__item-header li:first-child {
    margin-bottom: 14px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    /* identical to box height, or 26px */
    letter-spacing: 0.04em;
    color: var(--black-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item-header li:first-child {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    letter-spacing: 0.04em;
    color: var(--black-text-color);
  }
}
@media screen and (min-width: 768px) {
  .contacts__item-header li:last-child {
    line-height: 1.66;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 183%;
    /* or 26px */
    letter-spacing: 0.04em;
    color: #d6936d;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item-header li:last-child {
    line-height: 1.83;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    /* or 29px */
    letter-spacing: 0.04em;
    color: #d6936d;
  }
}

.contacts__item-header::after,
.contacts__item-body::after {
  display: block;
  width: 100%;
  margin: 24px 0;
  content: "";
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__item-header::after,
.contacts__item-body::after {
    margin: 32px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item-header::after,
.contacts__item-body::after {
    margin: 32px 0;
  }
}

.contacts__item-body li:nth-child(2n) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__item-body li:nth-child(2n) {
    margin-bottom: 12px;
  }
}
.contacts__item-body li:last-child {
  margin-bottom: 0;
}

.contacts__link--grey {
  color: #d6936d;
}

.contacts__modal-list {
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .contacts__modal-list {
    display: flex;
  }
}

.contacts__button.btn-dark, .contacts__button.btn-light {
  font-size: 16px;
  justify-content: center;
  border-radius: 22px;
  width: 161px;
  padding: 0 17px;
  height: 44px;
  margin: 0 auto;
}
.contacts__button.btn-dark {
  gap: 6px;
  width: 196px;
  height: 42px;
  fill: var(--black-text-color);
  border: 0;
  background: #f8d24e;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__button.btn-dark {
    padding: 0 34px;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__button.btn-dark {
    padding: 0 37px;
    width: auto;
  }
}
.contacts__button.btn-light {
  gap: 6px;
  width: 196px;
  height: 42px;
  fill: var(--black-text-color);
  border: 2px solid #f8d24e;
  background: transparent;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__button.btn-light {
    padding: 0 41px;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__button.btn-light {
    padding: 0 44px;
    width: auto;
  }
}

.contacts__modal-item:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__modal-item:first-child {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.contacts__arrow {
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-top: 2px;
}

.footer {
  margin-top: -1px;
  background-color: var(--background-color);
}
.footer__text {
  max-width: 234px;
  margin-bottom: 42px;
}
.footer__text-title {
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.footer__text-slog {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.footer__social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 38px;
}
.footer__social-item:not(:last-child) {
  margin-right: 30px;
}
.footer__social-sprite {
  display: flex;
  width: 32px;
  height: 32px;
  color: var(--background-color);
  background-color: #f8d24e;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.footer__social-sprite:hover {
  background-color: #f8d24e;
  color: var(--white-text-color);
}
.footer__social-sprite:focus {
  background-color: #f8d24e;
  color: var(--white-text-color);
  transform: scale(1.2);
}
.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer__contact-tel {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.833;
  color: #000000;
  margin-bottom: 40px;
}
.footer__contact-link {
  margin-left: 3px;
  color: var(--white-text-color);
}
.footer__copyright {
  min-height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 62px;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1198px) {
  .footer__copyright {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 480px) {
  .footer__copyright {
    padding-bottom: 13px;
  }
}
.footer__copyright::after {
  content: "";
  border-bottom: 1px solid #e1e1e1;
  width: 320px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__copyright::after {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright::after {
    width: 768px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright::after {
    width: 1168px;
  }
}
.footer__copyright-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--footer-button);
  padding: 0 20px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__copyright-text {
    width: 187px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    /* or 21px */
    text-align: center;
    color: #7a7a7a;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright-text {
    width: 255px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    letter-spacing: 0.02em;
    color: #7a7a7a;
  }
}
.contacts__item--grey-header {
  width: 190px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 183%;
  /* or 22px */
  letter-spacing: 0.04em;
  color: #d6936d;
}
@media screen and (min-width: 768px) {
  .contacts__item--grey-header {
    width: 173px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item--grey-header {
    width: 262px;
  }
}

.contacts__item--grey-body {
  width: 212px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 183%;
  /* or 22px */
  letter-spacing: 0.04em;
  color: #d6936d;
}
@media screen and (min-width: 768px) {
  .contacts__item--grey-body {
    width: 158px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item--grey-body {
    width: 288px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}

.contacts__item--grey-footer {
  width: 185px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 183%;
  /* or 22px */
  letter-spacing: 0.04em;
  color: #d6936d;
}
@media screen and (min-width: 768px) {
  .contacts__item--grey-footer {
    width: 159px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item--grey-footer {
    width: 261px;
  }
}

@media screen and (min-width: 480px) {
  .footer__text {
    max-width: 340px;
    margin-bottom: 0;
  }
  .footer__text-title {
    font-size: 26px;
    line-height: 1.154;
    letter-spacing: 0.04em;
    margin-bottom: 9px;
  }
  .footer__text-slog {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
  .footer__contact-tel {
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 1, 857;
  }
  .footer__copyright-text {
    width: 338px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .footer__social-sprite {
    width: 34px;
    height: 34px;
  }
  .footer__copyright {
    min-height: 73px;
  }
}
@media screen and (min-width: 480px) {
  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__text {
    max-width: 480px;
  }
  .footer__text-title {
    line-height: 1.133;
    margin-bottom: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-text-color);
    width: 504px;
  }
  .footer__text-slog {
    width: 500px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
  .footer__social-list {
    margin-bottom: 50px;
  }
  .footer__copyright {
    min-height: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact-tel {
    width: 338px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    /* identical to box height, or 30px */
    letter-spacing: 0.02em;
    color: var(--black-text-color);
    margin-left: auto;
  }
}

.btn-dark:hover {
  background: var(--button-color);
}

.btn-dark:focus {
  background: var(--button-color);
  color: var(--white-text-color);
}

.btn-dark:focus .contacts__arrow {
  fill: var(--white-text-color);
}

.btn-light:hover {
  border-color: var(--button-color);
}

.btn-light:focus {
  border-color: var(--button-color);
  color: var(--white-text-color);
}

.btn-light:focus .contacts__arrow {
  fill: var(--white-text-color);
}/*# sourceMappingURL=index.css.map */