<section class="about">
    <div class="container">
        <p class="about-tradition">tradition and love</p>
        <h2 class="about-title">how it’s made?</h2>
        <div class="about-cow">
            <img src="./photo/about/cowonmeadowx1.png" alt="cow" width="278" height="278">
        </div>
        <div class="about-info">
            <p class="about-info-first">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and
            we follow it when creating our handmade desserts.</p>
            <p class="about-info-second">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children
            from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
        </div>
        <button type="button" class="about-more">Read more
        <div class="about-cow-img">
            <img src="./photo/footericon/Vector 1.png" alt="vector">
        </div>
        </button>
        <ul class="about-list">
            <li class="about-item">
            <a href="#" class="about-link">
                <svg class="about-icon" width="36" height="36">
                    <use href="./svg/symbol-defs.svg#icon-cow"></use>
                </svg>
            </a>
            <p class="about-numbers">721</p>
            <p class="about-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about-item">
            <a href="#" class="about-link">
                <svg class="about-icon" width="36" height="36">
                    <use href="./svg/symbol-defs.svg#icon-weight"></use>
                </svg>
            </a>
            <p class="about-numbers">16kg</p>
            <p class="about-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about-item">
            <a href="#" class="about-link">
                <svg class="about-icon" width="36" height="36">
                    <use href="./svg/symbol-defs.svg#icon-Group"></use>
                </svg>
            </a>
            <p class="about-numbers">84</p>
            <p class="about-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>