
<section class="about container" id="how-its-made">
<section class="about container frame" id="How it’s made">
  <div class="about-container">
    <p class="about__title">tradition and love</p>
    <h2 class="about__tittle">how it’s made?</h2>
    <div class="about__block--flex">
      <div class="about__block--img">
        <img
          class="about__img"
          src="./photo/about/cowonmeadowdeskx1.png"
          alt="cow"
        />
      </div>
      <div class="about__block">
        <ul class="about__link">
          <li class="about__link__item--one">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </li>
          <li class="about__link__item--two">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </li>
          <li class="about__link__item--three">
            This is enough to choose ice cream and coffee for any mood!
          </li>
        </ul>
        <div class="about__button">
          <button class="about__btn" type="button">
            Read more
            <svg width="8" height="8" class="about-icon">
              <use href="./svg/symbol-defs.svg#icon-iconmonstr-arrow-24"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
