<section class="about">
    <div class="container">
        <p class="about-tradition">tradition and love</p>
        <h2 class="about-title">how it’s made?</h2>
        <div class="about-cows">
            <div class="about-cow">
                <picture class="about-cow-pic">
                    <source srcset="./photo/about/cowonmeadowx1.png 1x ,
                     ./photo/about/cowonmeadowx2.png 2x" 
                     media="min-width: 480px"
                    >
                    <source srcset="./photo/about/cowonmeadowtabx1.png 1x ,
                     ./photo/about/cowonmeadowtabx2.png x2" 
                     media="min-width: 768px"
                    >
                    <source srcset="./photo/about/cowonmeadowdeskx1.png x1 ,
                     ./photo/about/cowonmeadowdeskx2.png x2" 
                     media="min-width: 1200px"
                    >
                    <img src="./photo/about/cowonmeadowx1.png" alt="cow">
                </picture>
            </div>
            <div class="about-all">
                <div class="about-info">
                    <p class="about-info-first">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and
                    we follow it when creating our handmade desserts.</p>
                    <p class="about-info-second">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children
                    from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
                    <p class="about-info-third">This is enough to choose ice cream and
                    coffee for any mood!</p>
                </div>
                <div class="about-cow-img">
                    <button type="button" class="about-more">Read more
                    <img src="./photo/footericon/Vector 1.png" alt="vector">
                    </button>
                </div>
        </div>
        </div>
    </div>
</section>
<section class="advantages">
    <div class="container">
        <ul class="advantages-list">
            <h2 hidden>advantages</h2>
            <li class="advantages-item">
                <a href="#" class="advantages-link">
                    <svg class="advantages-icon" width="36" height="36">
                        <use href="./svg/symbol-defs.svg#icon-cow"></use>
                    </svg>
                </a>
                <p class="advantages-numbers">721</p>
                <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <a href="#" class="advantages-link">
                    <svg class="advantages-icon" width="36" height="36">
                        <use href="./svg/symbol-defs.svg#icon-weight"></use>
                    </svg>
                </a>
                <p class="advantages-numbers">16kg</p>
                <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <a href="#" class="advantages-link">
                    <svg class="advantages-icon" width="36" height="36">
                        <use href="./svg/symbol-defs.svg#icon-Group"></use>
                    </svg>
                </a>
                <p class="advantages-numbers">84</p>
                <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>