<section class="advantages container">
    <div class="advantages-container">
        <ul class="advantages__link">
            <li class="advantages__list">
                <a href="">
                    <div class="advantages__icon">
                        <svg width="36" height="36">
                            <use href="./svg/symbol-defs.svg#icon-cow"></use>
                        </svg>
                    </div>
                </a>
                <p class="advantages__link--item">721</p>
                <p class="advantages__link">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__list">
                <a href="">
                    <div class="advantages__icon">
                        <svg width="36" height="36">
                            <use href="./svg/symbol-defs.svg#icon-weight"></use>
                        </svg>
                    </div>
                </a>
                <span class="advantages__link--item">
                    16<span class="advantages__link--item-span">kg</span>
                </span>
                <p class="advantages__link">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__list">
                <a href="">
                    <div class="advantages__icon">
                        <svg width="36" height="36">
                            <use href="./svg/symbol-defs.svg#icon-Group"></use>
                        </svg>
                    </div>
                </a>
                <p class="advantages__link--item">84</p>
                <p class="advantages__link">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>