<div class="backdrop is-hidden" data-modal-product>
    <div class="footer-modal">
        <button type="button"  class="footer-close-btn">
            <svg class="footer-modal-svg" width="16" height="16">
                <use href="./svg/symbol-defs.svg#icon-close-black"></use>
            </svg>
        </button>
    
        <h1 class="footer-modal-title">Thank you for your interest in owning an Ice Cream shop</h1>
        <p class="footer-modal-text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
        <form>
            <p><input class="footer-input" name="login" placeholder="Name"></p>
            <p><input class="footer-input" name="Phone" placeholder="Phone"></p>
            <p><input class="footer-input" name="Email" placeholder="Email"></p>
            <p><input class="footer-input-coment" name="Comment" placeholder="Comment"></p>
        </form>
        <button type="button" class="footer-modal-btn">Submit</button>    
    </div>
</div> 
