<main class="cursomer container" >
    <div class="gallery-no">
        <section class="gallery">
            <div class="swiper mySwiper wrapper" >
                <ul class=" gallery-list swiper-wrapper">
                    <li class="gallery-link swiper-slide"><img class="gallery-photo" src="./photo/advantages/ice-1-1x.jpg" alt=""></li>
                    <li class="gallery-link swiper-slide"><img class="gallery-photo" src="./photo/advantages/ice-2-1x.jpg" alt=""></li>
                    <li class="gallery-link swiper-slide"><img class="gallery-photo" src="./photo/advantages/ice-3-1x.jpg" alt=""></li>
                </ul>
            </div>
        </section>
    </div>
    <section class="reviews">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="reviews-block swiper-slide">
                        <img class="reviews-team" src="./photo/gallery/team-1-1x.jpg" alt="">
                        <p class="reviews-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                        <p class="reviews-city">Emily, Los Angeles</p>
                    </div>
                    <div class="reviews-block swiper-slide">
                        <img class="reviews-team" src="./photo/gallery/team-2-1x.jpg" alt="">
                        <p class="reviews-text">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.</p>
                        <p class="reviews-city">Sam, Los Angeles</p>
                    </div>
                    <div class="reviews-block swiper-slide">
                        <img class="reviews-team" src="./photo/gallery/team-3.jpg" alt="">
                        <p class="reviews-text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
                        <p class="reviews-city">Diana, Chicago</p>
                    </div>
                    <div class="reviews-block swiper-slide">
                        <img class="reviews-team" src="./photo/gallery/team-4-1x.jpg" alt="">
                        <p class="reviews-text">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
                        <p class="reviews-city">Bryan, New-York</p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
    </section>
</main>
