<section class="gallery">
    <div class="swiper mySwiper wrapper" conteiner>
        <ul class=" gallery-list swiper-wrapper">
            <li class="gallery-link swiper-slide"><img class="gallery-photo" src="./photo/advantages/ice-1-1x.jpg" alt=""></li>
            <li class="gallery-link swiper-slide"><img class="gallery-photo" src="./photo/advantages/ice-2-1x.jpg" alt=""></li>
            <li class="gallery-link swiper-slide"><img class="gallery-photo" src="./photo/advantages/ice-3-1x.jpg" alt=""></li>
        </ul>
    </div>
</section>

