<header class="header">
  <div class="container">
    <nav class="nav__bar">
      <a class="logo" href="./index.html">
        <img src="./photo/hero/logo.png" alt="ice logo" />
      </a>
      <button
        class="menu__btn js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu__btn--icon" width="32" height="32">
          <use href="./svg/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
    <h1 class="hero__title">
      ice cream <span class="hero__title-first">made with</span>
      <span class="hero__title-span">passion</span>
    </h1>
    <ul class="hero__links">
      <li class="hero__item">
        <a href="#" class="hero__link">Products</a>
      </li>
      <li class="hero__item">
        <a href="#" class="hero__link-made">How it’s made?</a>
      </li>
    </ul>
    <img class="hero__img" src="./photo/hero/icecream@m1.png" alt="ice cream" />
  </div>
</header>
