<div class="backdrop is-hidden" data-modal-loc>
    <div class="location-modal">
        <button type="button" class="location-close-btn" data-modal-close-loc>
            <svg width="16" height="16">
                <use href="./svg/symbol-defs.svg#icon-close-black"></use>
            </svg>
        </button>
        
        <h1 class="location-title">Our Locations</h1>
        <div class="location-img"></div>
        <a href="https://goo.gl/maps/frSxKbEPTaTKqhyp9">
            <button class="location-btn" type="button" >Open map</button>
        </a>
    </div>
</div>
