<div class="backdrop is-hidden" data-menu >
    <div class="mob-menu">
        <a class="logo" href="./index.html">
            <img class="logo-ice" src="./photo/hero/logo@d1x.png" alt="ice logo" />
        </a>
        <button class="mob-menu-close-btn" type="button" data-menu-close>
            <svg width="19" height="19">
                <use href="./svg/symbol-defs.svg#icon-menu-close"></use>
            </svg>
        </button>
        <ul class="list-menu-js">
            <li class="mob-menu-list">
                <a class="mob-menu-link" href="#header">Home</a>
            </li>
            <li class="mob-menu-list">
                <a class="mob-menu-link active" href="#how-its-made">How it’s made?</a>
            </li>
            <li class="mob-menu-list">
                <a class="mob-menu-link" href="#our-products">Our products</a>
            </li>
            <li class="mob-menu-list">
                <a class="mob-menu-link" href="#contact">Contact</a>
            </li>
        </ul>
        <button class="mob-menu-buy-btn" type="button">Buy now
            <img class="mob-menu-btn-buy" src="./photo/modal/knopka.png" alt="buy-now">
        </button>
    </div>
</div>
