<div class="backdrop is-hidden" data-menu >
    <div class="mob-menu">
        <a class="logo" href="./index.html">
            <img class="logo-ice" src="./photo/hero/logo@d1x.png" alt="ice logo" />
        </a>
        <button class="mob-menu-close-btn" type="button" data-menu-close-hero>
            <svg width="19" height="19">
                <use href="./svg/symbol-defs.svg#icon-menu-close"></use>
            </svg>
        </button>
        <ul>
            <li class="mob-menu-list">
                <a class="mob-menu-link" href="">Home</a>
            </li>
            <li class="mob-menu-list">
                <a class="mob-menu-link active" href="">How it’s made?</a>
            </li>
            <li class="mob-menu-list">
                <a class="mob-menu-link" href="">Our products</a>
            </li>
            <li class="mob-menu-list">
                <a class="mob-menu-link" href="">Contact</a>
            </li>
        </ul>
        <button class="mob-menu-buy-btn" type="button">Buy now
            <img class="mob-menu-btn-buy" src="./photo/modal/knopka.png" alt="buy-now">
        </button>
    </div>
</div>
