<section class="products" id="our-products">
  <div class="container container__products">
    <p class="products__about">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__card ice-cream">
        <div class="products__wrap ice-cream">
          <div class="products__about-wrap">
            <h3 class="products__type">ice cream</h3>
            <p class="products__description">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
          </div>
          <button type="button" class="products__modal">
            <svg class="products__arrow" width="40" height="10">
              <use href="./svg/symbol-defs.svg#icon-Frame"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__card ice-coffee">
        <div class="products__wrap ice-coffee">
          <div class="products__about-wrap">
            <h3 class="products__type">ice coffee</h3>
            <p class="products__description">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>
          <button type="button" class="products__modal">
            <svg class="products__arrow" width="40" height="10">
              <use href="./svg/symbol-defs.svg#icon-Frame"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__card milkshakes">
        <div class="products__wrap milkshakes">
          <div class="products__about-wrap">
            <h3 class="products__type">milkshakes</h3>
            <p class="products__description">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
          </div>
          <button type="button" class="products__modal">
            <svg class="products__arrow" width="40" height="10">
              <use href="./svg/symbol-defs.svg#icon-Frame"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
