<div class="backdrop is-hidden" data-modal-read>    
    <div class="modal">
        <button class="close-btn" type="button">
            <svg  width="16" height="16">
                <use href="./svg/symbol-defs.svg#icon-close-black"></use>
            </svg>
        </button>           
    
        <h1 class="modal-title">How it’s made?</h1>
        <div class="video">
            <iframe class="iframe-video" width="244" height="199" 
            src="https://www.youtube.com/embed/VdEa6wKl7Dc" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
        <p class="modal-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>     
    </div>       
</div>
